<footer class="footer">{% load static %}
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-lg-6 ">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="{% static 'img/footer_logo.png' %}" alt="">
                            </a>
                        </div>
                        <p>
                            <a href="#">support@brtairways.com</a>
                        </p>
                        <!-- <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-pinterest"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </li>
                            </ul>
                        </div> -->

                    </div>
                </div>
                <!-- <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Company
                        </h3>
                        <ul class="links">
                            <li><a href="{% url 'booking' %}">Pricing</a></li>
                            <li><a href="{% url 'booking' %}">About</a></li>
                            <li><a href="{% url 'booking' %}"> Gallery</a></li>
                            <li><a href="{% url 'booking' %}"> Contact</a></li>
                        </ul>
                    </div>
                </div> -->
                <div class="col-xl-6 col-md-6 col-lg-6">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                            Popular destination
                        </h3>
                        <ul class="links double_links">
                            <li><a href="{% url 'booking' %}">Indonesia</a></li>
                            <li><a href="{% url 'booking' %}">America</a></li>
                            <li><a href="{% url 'booking' %}">India</a></li>
                            <li><a href="{% url 'booking' %}">Switzerland</a></li>
                            <li><a href="{% url 'booking' %}">Italy</a></li>
                            <li><a href="{% url 'booking' %}">Canada</a></li>
                            <li><a href="{% url 'booking' %}">Franch</a></li>
                            <li><a href="{% url 'booking' %}">England</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>